src/main/mule/sample-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:cofww-logger="http://www.mulesoft.org/schema/mule/cofww-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ford-properties-provider="http://www.mulesoft.org/schema/mule/ford-properties-provider" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/cofww-logger http://www.mulesoft.org/schema/mule/cofww-logger/current/mule-cofww-logger.xsd http://www.mulesoft.org/schema/mule/ford-properties-provider http://www.mulesoft.org/schema/mule/ford-properties-provider/current/mule-ford-properties-provider.xsd">
    <apikit:config name="template-sys-config" api="template-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="template-main">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="set-variables" doc:id="aa3dd732-c983-4cbb-9e66-b31936ef14dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<apikit:router config-ref="template-sys-config" doc:id="0a291fe7-399f-487d-84cc-6df378431d41" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="get:\template:template-sys-config">
        <flow-ref doc:name="Flow Reference" doc:id="33b59d69-37a2-45de-8260-0d393d914409" name="ImplementationFlow"/>
    </flow>
</mule>
